/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.container-2{
    width: 55%;
    margin: 0 auto;
}

.btn-blue{
    background-color: #0061ff;
    color:white;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.btn-blue:hover{
    background-color: #297afe;
}

.section-title{
    font-size: 30px;
    font-weight: 700;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

/* Header Rules */
header{
    min-height: 93vh;
    background-color: #b4d0e7;
    position: relative;
}

nav{
    width: 100%;
    height: 65px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    font-size: 14px;
    z-index: 500;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

nav li > a:hover{
    border-bottom: 3px solid black;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 20px 0;
}

nav img{
    width: 80%;
}

nav li{
    list-style: none;
}

nav li > span > a{
    margin-left: 10px;
}

.sub-menu{
    position: absolute;
    display: none;
    z-index: -1;
    top: 65px;
    right: 250px;
    padding: 15px 0;
    width: 180px;
    height: 130px;
    font-size: 13px;
}

.support-menu:hover .sub-menu{
    display: inline-block;
    animation: dropdown 0.5s ease 1;
    background-color: white;
}

@keyframes dropdown{
    0%{
        opacity: 0;
        top: 0px;  
    }
    100%{
        opacity: 1;
        top: 65px;
    }
}

.support-menu:hover .sub-menu a{
    border: 0px;
}

.sub-menu > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 13px;
    width: 100%;
    height: 100%;
}

.sub-menu > ul > li{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 

.sub-menu > ul > li:hover{
    background-color: #ececec;
}

.sub-menu a{
    text-decoration: none;
    color: black;
    vertical-align: middle;
    padding: 0 12px;
}

/* Jumbotron Rules */
.jumbotron{
    padding-top: 65px;
    height: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.jumbotron > h2{
    margin: 60px 0 30px 0;
    font-size: 60px;
    font-weight: 800;
}

.jum-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#jum-left{
    width: 30%;
    font-size: 12px;
    line-height: 150%;
}

#jum-left > .btn-blue{
    margin: 20px 0;
    padding: 10px 15px;
    font-size: 13px;
}

#jum-left > .arrow{
    font-size: 40px;
    margin-top: 30%;
    display: inline-block;
    color: black;
    text-decoration: none;
}

#jum-left > .arrow:hover{
    color:rgba(80, 80, 80, 0.8)
}


#jum-right{
    width: 70%;
    height: 100%;
    position: relative;
}

.jum-content > #jum-right > img{
    max-width: 110%;
    min-width: 110%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

/* Main Rules */
main{
    max-width: 2000px;
    margin: 0 auto;
}

/* Plan Section Rules */
.plan{
    margin-top: 150px;
}

.billing{
    margin: 50px 0;
    font-size: 12px;
}

.billing > span{
    margin-right: 30px;}

.radio{
    background-color: white;
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

    .radio.one{
        background-color: white;
        border: 5px solid #0061ff;
    }

    .radio.two{
        background-color: white;
        border: 1px solid grey;
    }

/* Plan Rules */
.type-plan{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 40px;
}

.column{
    border: 1px solid lightgray;
    width: calc(100% / 3 - 30px);
}

.col-head{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
    font-size: 12px;
    font-weight: lighter;
}

.col-body{
    padding: 20px 20px 0px;
}

.type{
    font-size: 20px;
    font-weight: 700;
}

.price{
    font-size: 11px;
    font-weight: 700;
    padding-top: 15px;
}

.period{
    font-size: 12px;
    font-weight: lighter;
    padding-top: 10px;
}

.features{
    font-size: 12px;
    padding-top: 40px;
    font-weight: 300;
}

.features > div{
    padding: 10px 0;
}

.description > ul > li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding: 7px 0;
    gap: 3px;
    font-size: 13px;
}

.description > ul > li > i{
    padding: 3px 3px 0 0;
}

.col-body .btn-blue{
    font-weight: 400;
    padding: 10px 30px;
    font-size: 11px;
    width: 100%;
    margin-top: 40px;
}

.buy > a{
    color: #1a1ae1;
    margin-top: 15px;
    display: inline-block;
}

.buy > a:hover{
    color: purple;
}

.buy > span{
    border-bottom: 1px solid lightgray;
    padding-bottom: 50px;
}

.highlights{
    margin-top: 70px;
}

.highlights > h4{
    margin-bottom: 20px;
}

.highlights > ul > li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    list-style: none;
    padding: 0 0 15px;
}

.highlights > ul > li > i{
    color: blue;
    padding: 3px 3px 0 0;
}

.plan-enterprise{
    border: 1px solid lightgray;
    width: 100%;
    margin-bottom: 120px;
}

.enter-head{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
    font-size: 12px;
    font-weight: lighter;
}

.enter-top{
    padding: 30px 30px 0;
    display: flex;
    justify-content: space-between;
}

.enter-top > .btn-blue{
    font-size: 12px;
    padding: 8px 30px;
}

.enter-bottom{
    padding: 10px 30px 30px;
}

.enter-text-1{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 40px;
}

.enter-text-2{
    font-size: 12px;
    width: 70%;
    font-weight: lighter;
}

/* Partner Section Rules */
.partner{
    width: 100%;
    margin-bottom: 120px;
}

.partner  .btn-white{
    border: 1px solid black;
    padding: 8px 10px;
    font-size: 13px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.btn-white:hover{
    background-color: rgba(80, 80, 80, 0.2);
    border: 2px solid rgba(80, 80, 80, 0.7);
    font-weight: 500;
    padding: 8px 8px;

}

.partner > img{
    float: left;
    width: 60%;
}

.partner > div{
    float: left;
    width: 30%;
    margin: 35px 0 0 30px;

}

.partner > div > p{
    padding: 15px 0 30px;
    font-size: 13px;
}

.tool{
    width: 100%;
    margin-bottom: 120px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    margin-bottom: 10px;
}

.card > img{
    width: 100%;
}

.card > p{
    font-size: 13px;
    margin-top: 20px;
    font-weight: lighter;
    text-align: justify;
}

/* Client Rules */
.client{
    margin-bottom: 100px;
}

.client > h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.client > a{
    color: #0061ff;
    font-size: 12px;
}

.client > a:hover{
    color: purple;
}

/* Companies Rules */
.companies{
    display: flex;
    justify-content: center;
    height: 500px;
}

.comp-left, .comp-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    height: 100%;
    flex-wrap: wrap;
}

.comp-left img, .comp-right img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%) sepia(22%) saturate(1623%) hue-rotate(170deg) brightness(130%) contrast(95%);
}

.comp-left div, .comp-right div{
    flex-basis: 50%;
    height: 50%;
    position: relative;
}

    /* Color Companies */
    /* Left */
    .comp-left div:nth-child(1){
        background-color: #a2d39b;
        border: 12px solid #d1e9cd; 
    }

    .comp-left div:nth-child(1) > img{
        width: 55%;
}
    
    .comp-left div:nth-child(2){
        background-color: #61082b;
    }

    .comp-left div:nth-child(3){
        background-color: #0093ce;
    }

    .comp-left div:nth-child(4){
        background-color: #ff1c1c;
    }

    /* Right */
    .comp-right div:nth-child(1){
        background-color: #d5001f;
    }

    .comp-right div:nth-child(2){
        background-color: #b4d0e7;
    }

    .comp-right div:nth-child(3){
        background-color: #0d2481;
    }

    .comp-right div:nth-child(4){
        background-color: #ffd830;
    }

.comp-center{
    background-color: #f5f5f5;
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    font-size: 14px;
    font-weight: lighter;
    overflow-y: scroll;
}

.comp-center  img{
    width: 50%;
}
.image-cent-b{
    display: none;
}

.line{
    width: 20%;
    margin-top: 30px;
    border: 1px solid lightgrey;
}

.comp-center > p{
    margin: 40px 0;
}

/* Free Trial Rules */
.free-trial{
    height: 280px;
    width: 100%;
    margin-bottom: 150px;
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
}

.free-trial > h2{
    font-size: 32px;
    color: #61082b;
    width: 25%;
}

.free-trial > a{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 8px 40px;
    font-size: 13px;
}

.free-trial > a:hover{
    border: 1px solid black;
    font-weight: 500;
    padding: 8px 37px;
}


/* FAQ Rules */
.faq{
    height: 600px;
    margin-bottom: 50px;
}

.faq > h2{
    margin-bottom: 30px;
}

.faq > div{
    border-top: 1px solid gray;
}

.faq > div:last-child{
    border-bottom: 1px solid gray;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0;
}

/* Footer Rules */
footer{
    background-color: black;
    height: 450px;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: white;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 80%;
}

.footer-top a:hover{
    text-decoration: underline;
}

.footer-top > div > ul{
    list-style: none;
}

.title > div{
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 15px;
    color: white;
}

.footer-top li{
    line-height: 200%;
    font-size: 14px;
}


.footer-bottom{
    height: 20%;
}

.language{
    width: 10%;
    color: grey;
    font-size: 14px;
    padding-top: 40px;
    border-top: 1px solid white;
}

.language > span{
    margin: 0 1px 0 5px; 
    display: inline-block;
    cursor: pointer;
}

.language > i{
    font-size: 12px;
}

.language > i:last-child{
    cursor: pointer;
}