/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.container-2{
    width: 55%;
    margin: 0 auto;
}

.btn-blue{
    background-color: #0061ff;
    color:white;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.partner .btn-white{
    border: 1px solid black;
    padding: 8px 10px;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.section-title{
    font-size: 30px;
    font-weight: 700;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

/* Header Rules */
header{
    min-height: 93vh;
    background-color: #b4d0e7;
}

nav{
    width: 100%;
    height: 65px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    font-size: 15px;
    z-index: 500;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

header img{
    width: 85%;
}

header li{
    list-style: none;
}

header a{
    text-decoration: none;
    color: black;
}

header li > span > a{
    margin-left: 10px;
}

/* Jumbotron Rules */
.jumbotron{
    padding-top: 65px;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.jumbotron > h2{
    margin: 60px 0 30px 0;
    font-size: 60px;
    font-weight: bold;
}

.jum-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#jum-left{
    width: 30%;
    font-size: 12px;
    line-height: 150%;
}

#jum-left > .btn-blue{
    margin: 20px 0;
    padding: 10px 15px;
    font-size: 13px;
}

#jum-left > .arrow{
    font-size: 40px;
    margin-top: 30%;
    display: inline-block
}

#jum-right{
    width: 70%;
    height: 100%;
    position: relative;
}

.jum-content > #jum-right > img{
    max-width: 110%;
    min-width: 110%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

/* Main Rules */

main{
    max-width: 1500px;
    margin: 0 auto;
}

/* Plan Section Rules */
.plan{
    margin-top: 150px;
}

.billing{
    margin: 50px 0;
    font-size: 12px;
}

.billing > span{
    margin-right: 30px;}

.radio{
    background-color: white;
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

    .radio.one{
        background-color: white;
        border: 5px solid #0061ff;
    }

    .radio.two{
        background-color: white;
        border: 1px solid grey;
    }


/* Plan Rules */
.type-plan{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 40px;
}

.column{
    border: 1px solid lightgray;
    flex-basis: 100%;
}

.col-head{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
    font-size: 12px;
    font-weight: lighter;
}

.col-body{
    padding: 20px 20px 0px;
}

.type{
    font-size: 20px;
    font-weight: 700;
}

.price{
    font-size: 11px;
    font-weight: 700;
    padding-top: 15px;
}

.period{
    font-size: 12px;
    font-weight: lighter;
    padding-top: 10px;
}

.features{
    font-size: 12px;
    padding-top: 40px;
    font-weight: 300;
}

.features > div{
    padding: 10px 0;
}

.description > ul > li{
    list-style: none;
    padding: 7px 0;
    display: flex;
    justify-content: flex-start;
    gap: 3px;
}

.col-body .btn-blue{
    margin-top: 40px;
    font-weight: 400;
    padding: 10px 30px;
    font-size: 11px;
}

.buy > a{
    color: #1a1ae1;
    padding-top: 20px;
    display: inline-block;
}

.buy > span{
    border-bottom: 1px solid lightgray;
    padding-bottom: 50px;
}

.highlights{
    margin-top: 70px;
}

.highlights > h4{
    margin-bottom: 20px;
}

.highlights > ul > li{
    display: flex;
    justify-content: flex-start;
    gap: 2px;
    list-style: none;
    padding: 0 0 15px;
}

.highlights > ul > li > i{
    color: blue;
}

.plan-enterprise{
    border: 1px solid lightgray;
    width: 100%;
    margin-bottom: 120px;
}

.enter-head{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
    font-size: 12px;
    font-weight: lighter;
}

.enter-top{
    padding: 30px 30px 0;
    display: flex;
    justify-content: space-between;
}

.enter-top > .btn-blue{
    font-size: 12px;
    padding: 8px 30px;
}

.enter-bottom{
    padding: 10px 30px 30px;
}

.enter-text-1{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 40px;
}

.enter-text-2{
    font-size: 12px;
    width: 70%;
    font-weight: lighter;
}

/* Partner Section Rules */
.partner{
    width: 100%;
    margin-bottom: 120px;
}

.partner > img{
    float: left;
    width: 60%;
}

.partner > div{
    float: left;
    width: 30%;
    margin: 35px 0 0 30px;

}

.partner > div > p{
    padding: 15px 0 30px;
    font-size: 13px;
}


/* Tool Rules */
.tool{
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    margin-bottom: 10px;
}

.card > img{
    width: 100%;
}

.card > p{
    font-size: 13px;
    margin-top: 20px;
    font-weight: lighter;
}

/* Client Rules */
.client{
    /* DEBUG */
    background-color: blueviolet;
    width: 100%;
    height: 150px;
}

.companies{
    display: flex;
    justify-content: center;
    /* DEBUG */
    background-color: yellow;
    height: 350px;
    width: 100%;
}

.comp-left, .comp-center, .comp-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    height: 100%;
    flex-wrap: wrap;
    /* DEBUG */
    background-color: brown;
    border: 3px solid black;

}

.comp-left div{
    height: 50%;
    flex-basis: 50%;
    /* DEBUG */
    background-color: aqua;
    border: 2px solid black;
}

.comp-right div{
    height: 50%;
    flex-basis: 50%;
    /* DEBUG */
    background-color: coral;
    border: 2px solid black;

}

.free-trial{
    /* DEBUG */
    background-color: darkorchid;
    height: 200px;
    width: 100%;
}

.faq{
    /* DEBUG */
    background-color: darkslateblue;
    height: 400px;
}

.faq > h2{
    /* DEBUG */
    background-color: darksalmon;
    height: 100px;
    width: 100%;
}

.faq > div{
    /* DEBUG */
    background-color: cornflowerblue;
    border: 2px solid black;
    height: 100px;
    width: 100%;
}

footer{
    background-color: black;
    height: 400px;
    width: 100%;
}

.footer-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* DEBUG */
    background-color: chocolate;
    height: 70%;
}

.footer-top > div > ul{
    list-style: none;
}

.footer-bottom{
    /* DEBUG */
    background-color: aqua;
    height: 30%;
}